body.sigin-body{
  background-color: #e6f2ff;  
}

.container.sigin-container{
    margin-top: 8%;
}

.card.sigin-card{
    padding: 40px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
     -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
      -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

img.sigin-img{
    margin: auto;
    display: block;
    padding: 0 2rem 2rem;
    
}
.sigin-form{
    max-width: 350px;
    margin: auto;
}
.siginbtn{
    width: 100%;
}

.form-check{
    cursor: pointer;
    margin-top: 0.75rem;
}

a.createNewAccount{
  font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 1.2rem;
}